In [1]:
conda install -c conda-forge folium

Collecting package metadata (repodata.json): done
Solving environment: \
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/osx-64::numba==0.43.1=py37h6440ff4_0
  - defaults/osx-64::anaconda==2019.03=py37_0
done

## Package Plan ##

  environment location: /Applications/Anaconda/anaconda3

  added / updated specs:
    - folium


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    _anaconda_depends-2019.10  |           py37_0           5 KB
    anaconda-custom            |           py37_1           3 KB
    ca-certificates-2020.11.8  |       h033912b_0         145 KB  conda-forge
    certifi-2020.11.8          |   py37hf985489_0         150 KB  conda-forge
    fsspec-0.8.4               |             py_0          65 KB  conda-forge
    joblib-0.17.0              |             py_0         204 KB  conda-forge
    json5-0.9.5                |     pyh9f0ad1d_0          20 KB  conda-forge
    llvm-openmp-11.0.0         |       h73239a0_1         268 KB  conda-forge
    mock-4.0.2                 |   py37hc8dfbb8_1          51 KB  conda-forge
    openssl-1.1.1h             |       haf1e3a3_0         1.9 MB  conda-forge
    ripgrep-12.1.1             |       haf1e3a3_1         1.6 MB  conda-forge
    sphinxcontrib-applehelp-1.0.2|             py_0          28 KB  conda-forge
    sphinxcontrib-devhelp-1.0.2|             py_0          22 KB  conda-forge
    sphinxcontrib-htmlhelp-1.0.3|             py_0          27 KB  conda-forge
    sphinxcontrib-jsmath-1.0.1 |             py_0           7 KB  conda-forge
    sphinxcontrib-qthelp-1.0.3 |             py_0          25 KB  conda-forge
    sphinxcontrib-serializinghtml-1.1.4|             py_0          24 KB  conda-forge
    tbb-2019.8                 |       h770b8ee_0         157 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         4.7 MB

The following NEW packages will be INSTALLED:

  _anaconda_depends  pkgs/main/osx-64::_anaconda_depends-2019.10-py37_0
  fsspec             conda-forge/noarch::fsspec-0.8.4-py_0
  joblib             conda-forge/noarch::joblib-0.17.0-py_0
  json5              conda-forge/noarch::json5-0.9.5-pyh9f0ad1d_0
  llvm-openmp        conda-forge/osx-64::llvm-openmp-11.0.0-h73239a0_1
  mock               conda-forge/osx-64::mock-4.0.2-py37hc8dfbb8_1
  ripgrep            conda-forge/osx-64::ripgrep-12.1.1-haf1e3a3_1
  sphinxcontrib-app~ conda-forge/noarch::sphinxcontrib-applehelp-1.0.2-py_0
  sphinxcontrib-dev~ conda-forge/noarch::sphinxcontrib-devhelp-1.0.2-py_0
  sphinxcontrib-htm~ conda-forge/noarch::sphinxcontrib-htmlhelp-1.0.3-py_0
  sphinxcontrib-jsm~ conda-forge/noarch::sphinxcontrib-jsmath-1.0.1-py_0
  sphinxcontrib-qth~ conda-forge/noarch::sphinxcontrib-qthelp-1.0.3-py_0
  sphinxcontrib-ser~ conda-forge/noarch::sphinxcontrib-serializinghtml-1.1.4-py_0
  tbb                conda-forge/osx-64::tbb-2019.8-h770b8ee_0

The following packages will be UPDATED:

  ca-certificates    pkgs/main::ca-certificates-2019.1.23-0 --> conda-forge::ca-certificates-2020.11.8-h033912b_0
  certifi                                   2019.3.9-py37_0 --> 2020.11.8-py37hf985489_0
  openssl                                 1.1.1b-h1de35cc_1 --> 1.1.1h-haf1e3a3_0

The following packages will be DOWNGRADED:

  anaconda                                   2019.03-py37_0 --> custom-py37_1



Downloading and Extracting Packages
sphinxcontrib-appleh | 28 KB     | ##################################### | 100%
ca-certificates-2020 | 145 KB    | ##################################### | 100%
mock-4.0.2           | 51 KB     | ##################################### | 100%
anaconda-custom      | 3 KB      | ##################################### | 100%
json5-0.9.5          | 20 KB     | ##################################### | 100%
joblib-0.17.0        | 204 KB    | ##################################### | 100%
_anaconda_depends-20 | 5 KB      | ##################################### | 100%
llvm-openmp-11.0.0   | 268 KB    | ##################################### | 100%
sphinxcontrib-htmlhe | 27 KB     | ##################################### | 100%
sphinxcontrib-qthelp | 25 KB     | ##################################### | 100%
sphinxcontrib-serial | 24 KB     | ##################################### | 100%
certifi-2020.11.8    | 150 KB    | ##################################### | 100%
sphinxcontrib-devhel | 22 KB     | ##################################### | 100%
tbb-2019.8           | 157 KB    | ##################################### | 100%
ripgrep-12.1.1       | 1.6 MB    | ##################################### | 100%
sphinxcontrib-jsmath | 7 KB      | ##################################### | 100%
fsspec-0.8.4         | 65 KB     | ##################################### | 100%
openssl-1.1.1h       | 1.9 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [ ]:
!conda install -c conda-forge geopy

In [ ]:
y

In [ ]:
conda install -c conda-forge geopy

In [1]:
print hello

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(hello)? (<ipython-input-1-2a20a4ba3335>, line 1)

In [2]:
print(hello)

NameError: name 'hello' is not defined

In [3]:
print('hello')

hello

ModuleNotFoundError: No module named 'geopy'

In [5]:
conda install -c conda-forge/label/gcc7 geopy

Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Applications/Anaconda/anaconda3

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2018.10.15 |       ha4d7672_0         135 KB  conda-forge/label/gcc7
    certifi-2018.8.24          |        py37_1001         138 KB  conda-forge/label/gcc7
    geographiclib-1.49         |             py_0          32 KB  conda-forge/label/gcc7
    geopy-1.17.0               |             py_0          49 KB  conda-forge/label/gcc7
    ------------------------------------------------------------
                                           Total:         355 KB

The following NEW packages will be INSTALLED:

  geographiclib      conda-forge/label/gcc7/noarch::geographiclib-1.49-py_0
  geopy              conda-forge/label/gcc7/noarch::geopy-1.17.0-py_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates    conda-forge::ca-certificates-2020.11.~ --> conda-forge/label/gcc7::ca-certificates-2018.10.15-ha4d7672_0
  certifi            conda-forge::certifi-2020.11.8-py37hf~ --> conda-forge/label/gcc7::certifi-2018.8.24-py37_1001



Downloading and Extracting Packages
geopy-1.17.0         | 49 KB     | ##################################### | 100%
geographiclib-1.49   | 32 KB     | ##################################### | 100%
certifi-2018.8.24    | 138 KB    | ##################################### | 100%
ca-certificates-2018 | 135 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [54]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
import folium
import matplotlib.cm as cm
import matplotlib.colors as colors

In [55]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [56]:
# read the webpage from the wiki
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
response = requests.get(url)
#Process and convert html data
data = response.text
soup = BeautifulSoup(data,'html.parser')
wiki_table=soup.find('table')
#develop dataframe
df = pd.read_html(str(wiki_table))[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [57]:
# Drop the first column
df.drop(0,inplace=True)
#Rename the columns names
df.columns = ['PostalCode','Borough','Neighborhood']
df.head()

  PostalCode           Borough                      Neighborhood
1        M2A      Not assigned                      Not assigned
2        M3A        North York                         Parkwoods
3        M4A        North York                  Victoria Village
4        M5A  Downtown Toronto         Regent Park, Harbourfront
5        M6A        North York  Lawrence Manor, Lawrence Heights

In [58]:
# Remove "Borough" with 'Not assigned' values
df2=df[df['Borough'].str.contains("Not assigned") == False].reset_index()
df2.head()

,index,PostalCode,Borough,Neighborhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

In [59]:
df3= df2.groupby(['PostalCode', 'Borough'])['Neighborhood'].apply(', '.join).reset_index()
df3.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [60]:
df3.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [61]:
df3.shape

(103, 3)

In [62]:
#Save data as'Capstone_part1.csv'
df3.to_csv('Capstone_part1.csv')
print('Successfully Saved!')

Successfully Saved!

In [63]:
df3.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [64]:
import pandas as pd

In [65]:
# get the data and create the dataframe
url='https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv'
df_geo=pd.read_csv(url)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [66]:
df_geo = df_geo.rename(columns = {'Postal Code':'PostalCode'}) 
df_geo.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [67]:
df3.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [68]:
df3 = pd.merge(df3, df_geo, on = 'PostalCode')
df3.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [69]:
df3.shape

(103, 5)

In [70]:
#Save data as'Capstone_part2.csv'
df3.to_csv('Capstone_part2.csv', index=False)
print('Successfully Saved!')

Successfully Saved!